spring:
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  datasource:
    url: jdbc:mysql://localhost:3306/db
    username: identity
    password: identity123
    initialization-mode: always
security:
  oauth2:
    resource:
      filter-order: 3
  signing-key: <signing-key>
